property no-quorum-policy="ignore" \
    stonith-enabled="false" \
    startup-fencing="false" \
    stonith-timeout="300s" \
    dc-deadtime="60s"

rsc_defaults $id="rsc-options" \
    resource-stickiness="INFINITY" \
    migration-threshold="1"


######################### master db configration #########################
group g_db_master \
    p_master_vip 

primitive p_master_vip ocf:heartbeat:IPaddr2 \
    params \
        ip="192.168.162.160" \
        nic="eth0" \
        cidr_netmask="24" \
        broadcast="192.168.162.255" \
    op monitor interval="10s"


######################### slave db configration #########################
group g_db_slave \
    p_slave_vip 

primitive p_slave_vip ocf:heartbeat:IPaddr2 \
    params \
        ip="192.168.162.170" \
        nic="eth0" \
        cidr_netmask="24" \
        broadcast="192.168.162.255" \
    op monitor interval="10s"


######################### Master:Slave configration #########################
primitive p_mysql ocf:heartbeat:mysql \
        params config="/etc/mysql/my.cnf" \
               pid="/var/run/mysqld/mysqld.pid" \
               socket="/var/run/mysqld/mysqld.sock" \
               max_slave_lag="15" \
               evict_outdated_slaves="false" \
               binary="/usr/bin/mysqld_safe" \
               datadir="/var/lib/mysql" \
               test_user="[mysqlのuserテーブルをSELECTできる権限のユーザ]" \
               test_passwd="[パスワード]" \
               replication_user="[レプリケーションユーザ]" \
               replication_passwd="[レプリケーションユーザのパスワード]" \
        op monitor interval="5s" role="Master" OCF_CHECK_LEVEL="1" \
        op monitor interval="2s" role="Slave" OCF_CHECK_LEVEL="1" \
        op promote interval="0s" timeout="90s" on-fail="restart" \
        op demote interval="0s" timeout="90s" on-fail="block"

ms ms_mysql p_mysql \
        meta master-max="1" \
        master-node-max="1" \
        clone-max="2" \
        clone-node-max="1" \
        notify="true" \
        globally-unique="false" \
        target-role="Master" \
        is-managed="true"


colocation cl_db_master inf: g_db_master ms_mysql:Master


location lc_db_master g_db_master \
    rule 200: #uname eq DB-NODE1 \
    rule 100: #uname eq DB-NODE2

location lc_db_slave g_db_slave \
    rule 200: #uname eq DB-NODE2 \
    rule 100: #uname eq DB-NODE1


order or_master_db inf: ms_mysql:promote g_db_master:start
